
.btn{
    width: 200px;
    height: 30px;
    margin: 10px;
    color: white;
}

#cre{
    background-color: green;
}

#mod{
    background-color: orange;
}

#del{
    background-color: red;
}

#voir{
    background-color: blue;
}

#etat{
    background-color: chartreuse;
}